[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
Flask = "*"
torch = {index = "pytorch", version = "==1.8.1+cpu"}

[dev-packages]

[requires]
python_version = "3.8"
